/*
	purple: #7F8199;
	red: #FF404B;
*/

body	{
	background-color: #7F8199;
}

#page_title 	{
	float: left;
	margin-top: 100px;
	text-align: center;
	width: 30%;
}

#input_form	{
	background-color: #FF404B;
	border-radius: 20px;
	float: right;
	margin-top: 100px;
	margin-right: 50px;
	padding: 25px;
	width: 60%;
}

#show_validation	{
	display: none;

	float: left;
	margin-top: 100px;
	text-align: center;
	width: 30%;
}